body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    font-size: 1.2vw;
    background-color: #ffffec;
}

body > header {
    background: #597e52;
    color: #f1e4c3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: #f1e4c3;
    text-decoration: none;
    padding: 12px;
    border: 0.5px solid #f1e4c3;
    border-radius: 5%; 
    text-shadow:  0.5px 0.5px #c6a969, -0.5px -0.5px #c6a969;
}

#nav-ul {
    display: flex;

}

#nav-ul > li {
    padding: 10px;
    margin: 20px;
}

body > main article {
    width: 90%;
    margin: auto;
}

#main-content { 
    display: flex;
    justify-content: space-around;
}

#main-content div {
    width: 70%;
}

body > footer {
    background-color: #597e52;
    display: flex;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "alfa slab one regular";
    text-shadow:  0.8px 0.8px #c6a969, -0.8px -0.8px #c6a969;
}

ul {
    margin: 0px;
}

hr {
    margin-top: 5%;
    margin-bottom: 0%;
}

#newsletter {
    text-align: center;
    margin: 0px;
    color: #f1e4c3;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    background-color: #597e52;
    margin-bottom: 3%;
}

h2 {
    margin: 0px;
    text-align: left;
    font-family:"alfa slab one regular";
    color: #f1e4c3;
    padding-top: 15px;
    text-shadow:  0.5px 0.5px #c6a969, -0.5px -0.5px #c6a969;
}

.form-container {
    background-color: #f1e4c3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
}

#animal {
    display: flex;
    justify-content: space-evenly;
}

input[type="radio"] {
    transform: scale(0.60);
    margin-right: 5px
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

img {
    border-radius: 10%;
}

footer > h2 {
    margin-left: 5%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 20px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: #f1e4c3
}